*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site_logo {
    width: 185px;
    height: 50px;
}

.site-header-nav-text {
    font-weight: 700;
    margin-right: 32px;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}

.site-header-nav-text:hover{
    color: #de2e54;
}

.site-header-nav-text:active{
    opacity: 0.6;    
}

.site-header-login {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
    background: #de2e54;
    border: 2px solid #de2e54;
}

.site-header-login:hover{
    color: #de2e54;
    background-color: #ffffff;
}

.site-header-login:active{
    color: #ffffff;
    background-color: #DE2E54;
    opacity: 0.6;
}

.hero-section {
    background-color: #0eb4c1;
}
.hero-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}


.hero-section-title {
    width: 500px;
}
.hero-section-h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 16px;
    color: #ffffff;
}
.hero-section-p {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 36px;
    color: #ffffff;
}

.top-section-login:hover{
    color: #ffffff;
    background-color: rgba(222, 46, 84, 0.8);
    border-radius: 8px;
}

.affair-section-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
}

.affair-section-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 56px;
    color: #000000;
}
.affair-section-list {
    width: 864px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.affair-section-item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    width: 864px;
}

.affair-section-item-2{
    margin-bottom: 60px;
}

.affair-section-item-image {
    width: 200px;
    height: 200px;
}
.affair-section-item-wrapper {
    width: 600px;
    margin-left: 64px;
}
.affair-section-item-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 24px;
    color: #222222;
}
.affair-section-item-p {
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}

.site-affair-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-section{
    background-color: #0eb4c1;
}

.sing-up-wrapper{
    padding-top: 64px;
    padding-bottom: 64px;
}

.sign-up-section-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.sign-up-section-list {
    width: 540px;
    display: flex;
    justify-content: space-;
    align-items: center;
    list-style: none;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.sign-up-section-item {
 margin-right: 40px;
}

.sign-up-section-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    color: #ffffff;
}

.sign-up-section-link:hover{
    background: #de2e54;
    border: 2px solid #de2e54;
}

.sign-up-section-link:active{
    opacity: 0.6;
}

.sign-up-section-link-telegram{
    margin: 0;
}
footer{
    background-color: #000000;
}
.site-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-logo-white {
    width: 185px;
    height: 50px;
}

.site-footer-list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.site-footer-item{
    margin-right: 32px;
}

.site-footer-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.site-footer-item-text:hover{
    color: #de2e54;
}

.site-footer-item-text:active{
    color: #ffffff;
    opacity: 0.6;
}

.site-footer-end{
    margin: 0;
}

.site-footer-nav-text:hover{
    color: #de2e54;
}
.site-footer-nav-text:active{
    color: #ffffff;
    opacity: 0.6;
}
